*{
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
}
.logo{
    font-weight: bold;
}
.logo-span{
    color: red;
}
.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 2px solid black;
}
.header-btn{
    border: 2px solid rgb(0, 0, 0, 1);
    border-radius: 30px;
    box-shadow: 2px 2px rgb(0, 0, 0, 1);
    padding: 6px 15px;
    color: #fff;
    background-color: rgba(151, 71, 255, 1);

}
@media (hover: hover){
    .header-btn:hover{
        background-color: yellow;
        color: #000;
    }
}

.hero{
    width: 100%;
    height: 87vh;
    background-color: rgba(233, 237, 211, 1);
    transition: background-color 0.5s;
    margin: 0;
}
.hero-container{
    display: flex;
    flex-direction: row;
    padding: 3em 2em 1em 5em;
}
.hero-text{
    width: 48%;
}
.hero-h1{
    font-weight: 500;
    font-size: 3em;
    margin: 0 0 10px 0;
}
.hero-h1-grdient{
    background-image: linear-gradient(89.71deg, #750BFE 2.07%, #C02300 79.27%);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: 700;
}
.droping-pill{
    /**width: 600px;**/
    height: auto;
    position: absolute;
    bottom: 45px;
    right: 0;
}

.pill-container .pills img{
    width: 70%;
    height: auto;
}
.pill-container{
    display: flex;
    flex-direction: row;
    object-fit: contain;
    align-items: end;
}
.pill-container .pill-levels{
    position: relative;
}
.pills{
    visibility: hidden;
    width: fit-content;
    height: fit-content;
}
.first-level-pill{
    right: -50px;
}
.second-level-pill{
    top: -15px;
    right: 5px;
}
.third-level-pill{
    left: -65px;
}
.accountability{
    position: relative;
    right: -105px;
    bottom: -5px;
    animation: accountability 0.5s linear;
}
@keyframes accountability{
    from{
        transform: translateY(-1000%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 100;
    }
}
.create{
    position: relative;
    bottom: -10px;
    left: 85px;
    animation: create 0.5s linear;
    animation-delay: 2s;
}
@keyframes create {
    from{
        transform: translateY(-1000%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 100;
    }
}
.win{
    position: absolute;
    bottom: 33px;
    right: -45px;
    animation: win 0.5s linear;
    animation-delay: 1.5s;
}
@keyframes win {
    from{
        transform: translateY(-1000%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 100;
    }
}
.goals{
    position: absolute;
    right: -42px;
    bottom: 80px;
    animation: goals 0.5s linear;
    animation-delay: 4s;
}
@keyframes goals {
    from{
        transform: translateY(-1000%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 100;
    }
}
.motivation{
    position: absolute;
    bottom: 70px;
    right: -5px;
    animation: motivation 0.5s linear;
    animation-delay: 4.5s;
}
@keyframes motivation {
    from{
        transform: translateY(-1000%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 100;
    }
}
/*SECOND LEVEL PILL*/
.Smash{
    position: relative;
    bottom: -28px;
    left: 49px;
    animation: Smash 0.5s linear;
    animation-delay: 1s;
}
@keyframes Smash {
    from{
        transform: translateY(-1000%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 100;
    }
}
.dream{
    position: absolute;
    bottom: 65px;
    right: -53px;
    animation: dream 0.5s linear;
    animation-delay: 3.5s;
}
@keyframes dream {
    from{
        transform: translateY(-1000%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 100;
    }
}
.discipline{
    position: absolute;
    top: -50px;
    right: -65px;
    animation: discipline 0.5s linear;
    animation-delay: 5.5s;
}
@keyframes discipline {
    from{
        transform: translateY(-1000%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 100;
    }
}
/*THRID LEVEL PILL*/
.push{
    position: absolute;
    top: -73px;
    left: 25px;
    animation: push 0.5s linear;
    animation-delay: 3s;
}
@keyframes push {
    from{
        transform: translateY(-1000%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 100;
    }
}
.bet{
    position: absolute;
    top: -90px;
    right: 5px;
    animation: bet 0.5s linear;
    animation-delay: 5s;
}
@keyframes bet {
    from{
        transform: translateY(-1000%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 100;
    }
}
.grow{
    position: absolute;
    bottom: 43px;
    right: -25px;
    animation: grow 0.5s linear;
    animation-delay: 2.5s;
}
@keyframes grow {
    from{
        transform: translateY(-1000%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 100;
    }
}
.team-work{
    position: relative;
    right: -61px;
    animation: team-work 0.5s linear;
    animation-delay: 0.5s;
}
@keyframes team-work {
    from{
        transform: translateY(-1000%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 100;
    }
}

/**SCROLLING TRANSITION DREAMS-SECTION**/
.dreams-section{
    overflow-x: hidden;
    white-space: nowrap;
}
.dreams-container{
    display: flex;
    flex-direction: row;
}
.dreams{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    animation: left 25s linear infinite;
}
.dreams-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    text-wrap: nowrap;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #000;
    width: max-content;
    padding: 0.2em 0.5em;
}
@media (hover: hover){
    .blue-hover:hover{
        background-color: rgba(212, 239, 245, 1);
    }
    .brown-hover:hover{
        background-color: rgba(255, 104, 71, 1);
    }
}

@keyframes left{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}



/**HOW PVSH WORKS SECTION**/
.how-section{
    padding-bottom: 5em;
    border-bottom: 1px solid gray;
}
.top{
    display: flex;
    justify-content: space-between;
    padding: 5em 5em 0 5em;
}
.top-text{
    padding-top: 4em;
    width: 35.8em;
}
.top-text-p{
    display: inline-block;
    background-color: rgba(212, 239, 245, 1);
    border-radius: 20px;
    font-size: 1.5em;
    padding: 0.3em 0.6em;
    margin-top: 21px;
}
.top-text h4{
    font-weight: 400;
    font-size: 2.5em;
    margin-top: 10px 
}
.span-bold{
    font-weight: bold;
}

/**How Box**/
.how-box-container{
    display: flex;
    gap: 20px;
    padding: 1em 5em;
}
.how-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 310px;
    width: 500px;
    border-radius: 20px;
    padding: 1.5em;
}
.how-box-top{
    font-size: 2em;
    font-weight: 600;
}
.how-box-yellow{
    background-color: rgba(255, 230, 141, 1);
}
.how-box-pastel{
    background-color: rgba(213, 213, 255, 1);
}
.how-box-aqua{
    background-color: rgba(212, 239, 245, 1);
}

@media (hover: hover){
    .how-box-yellow:hover{
        border: 1px solid #000;
        box-shadow:  4px 4px 0px 0px #000;
    }
    .how-box-pastel:hover{
        border: 1px solid #000;
        box-shadow:  4px 4px 0px 0px #000;
    }
    .how-box-aqua:hover{
        border: 1px solid #000;
        box-shadow:  4px 4px 0px 0px #000;
    }   
}

/*HARNESS SECTION*/
.harness-container{
    margin: 0;
    padding: 2em 5em;
}
.harness-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.square-plus img{
    width: 65%;
    height: auto;
}
.text-and-button{
    width: 58%;
}
.text-and-button h4{
    font-size: 2.5em;
    font-weight: 400;
}
.harness-img{
    margin-top: 2em;
    margin-bottom: 4em;
}
.harness-img img{
    width: 100%;
    height: auto;
    border-radius: 25px;
}
/*PVSH SECTION*/
.pvsh{
    background-color: rgba(239, 197, 197, 1);
}
.pvsh-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 10em;
}
.pvsh-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.pvsh-text h6{
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
}

/*QUESTION SECTION*/
.question-container{
    display: flex;
    flex-direction: column;
    padding: 2em 5em;
    align-items: center;
}
.question-text h6{
    font-size: 1.5em;
    margin-bottom: 0;
}
.question-faq{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.questions{
    padding: 1.5em 0;
    cursor: pointer;
}
.dropdown{
    width: 65%;
}
.dropdown-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    width: 550px;
}
.dropdown-heading i{
    padding-left: 10px;
}
.dropdown-heading h6{
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media (hover: hover){
    .dropdown-heading h6:hover{
        background-image: linear-gradient(89.71deg, #750BFE 2.07%, #C02300 79.27%);
        background-size: 100%;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
    }
}
.tab{
    display: none;
    padding-top: 1em;
    width: 550px;
    text-align: justify;
}
.open{
    display: block;
}
.dropdown-heading .open-h6{
    background-image: linear-gradient(89.71deg, #750BFE 2.07%, #C02300 79.27%);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

/**FOOTER**/
.footer-container{
    border-top: 1px solid black;
    padding: 0 2em;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-links{
    display: flex;
    align-items: center;
}
.pvsh-social{
    padding: 1em 2em;
    border-left: 1px solid black;
}
.social-icon{
    width: 2em;
    height: 2em;
    background-color: grey;
    border-radius: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}


.pvsh-social i{
    font-size: 1em;
    color: #000;
}



/**************************************************
***********RESPONSIVE CSS*******
***********************************************/
/*TABLET VIWE 768PX*/
@media (max-width: 768px){
    /*HERO SECTION*/
    .hero-container{
        flex-direction: column;
        align-items: center;
    }
    .hero-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .hero-h1{
        font-size: 1.7em;
        text-align: center;
    }
/**HOW SECTION**/
    .top{
        flex-direction: column-reverse;
        padding: 5em 2em 0 2em;
    }
    .top-text{
        padding-top: 1em;
        width: 26.5em;
    }
    .top-text h4{
        font-size: 1.7em;
    }
    .star img{
        width: 6em;
        height: auto;
    }
    .how-box-container {
        flex-direction: column;
        align-items: center;
    }
    .how-box{
        width: 100%;
    }
    .square-plus img {
        width: 8em;
        height: auto;
    }
    .text-and-button h4 {
        font-size: 1.5em;
        font-weight: 400;
    }
    /*PVSH SECTION*/
    .pvsh-container {
        padding: 5em 5em;
    }
    .pvsh-text{
        width: 60%;
    }
}

@media (max-width: 620px){

    .harness-container {
        margin: 0;
        padding: 2em 2em;
    }
    .harness-top {
        gap: 0.5em;
    }
    .square-plus img {
        width: 6em;
        height: auto;
    }
    .text-and-button {
        width: 100%;
    }
    .text-and-button h4 {
        font-size: 1em;
        font-weight: 400;
    }

/**QUESTION SECTION**/
    .dropdown-heading {
        width: 400px;
    }
    .tab{
        width: 400px;
    }
}


@media (max-width: 600px){
    /*DROPING PILL*/
    .accountability{
        position: relative;
        right: -50px;
        bottom: -5px;
    }

    .create{
        position: relative;
        bottom: -10px;
        left: -7px;
    }

    .win{
        position: absolute;
        bottom: 23px;
        right: -14px;
    }

    .goals{
        position: absolute;
        right: -2px;
        bottom: 74px;
    }

    .motivation{
        position: absolute;
        bottom: 62px;
        left: -5vw;
    }

    /*SECOND LEVEL PILL*/
    .Smash{
        position: relative;
        top: 25px;
        left: 3vw;
    }

    .dream{
        position: absolute;
        bottom: 54px;
        right: -53px;
    }

    .discipline{
        position: absolute;
        top: -56px;
        left: -4px;
    }

    /*THRID LEVEL PILL*/
    .push{
        position: relative;
        top: 71px;
        left: 25px;
    }

    .bet{
        position: relative;
        top: 106px;
        right: -101px;
    }

    .grow{
        position: relative;
        bottom: -4px;
        right: -100px;
    }

    .team-work{
        position: relative;
        right: -61px;
    }

/**CHECK OUT LATER
    .droping-pill {
        width: NO WIDTH;
        height: NO HEIGHT;
        position: NOT SET;
        bottom: 0;
        right: 0;
    }
**/
}

@media (max-width: 430px){
/**HERO SECTION**/
    .hero{
        height: 80vh;
    }
    .hero-container {
        display: flex;
        flex-direction: row;
        padding: 5em 2em 1em 2em;
    }
    .hero-text{
        width: 100%;
    }
    .hero-h1 {
        font-size: 1.7em;
        text-align: center;
    }
    .pill-container .pills img {
        width: 45%;
        height: auto;
    }
    .droping-pill{
        /**width: max-content;**/
        height: max-content;
        bottom: 75px;
        left: -71px;
        display: none;
    }


/*HOW SECTION*/
.top-text {
    padding-top: 1em;
    width: 100%;
}
.top-text-p {
    font-size: 1em;
}
.top-text h4 {
    font-size: 1em;
}
.how-box-container {
    display: flex;
    gap: 20px;
    padding: 1em 3em;
}
.how-box-top {
    font-size: 1.5em;
    font-weight: 600;
}
/**HARNESS SECTION**/
    .harness-container {
        margin: 0;
        padding: 2em 2em;
    }
    .harness-top {
        gap: 2em;
    }
    .square-plus img {
        width: 3em;
        height: auto;
    }
    .text-and-button {
        width: 100%;
    }
    .text-and-button h4 {
        font-size: 0.9em;
        font-weight: 400;
    }
    .harness-img {
        margin-bottom: 0em;
    }
/**PVSH SECTION**/
    .pvsh-container {
        padding: 5em 2em;
    }
    .pvsh-text {
        width: 100%;
    }
    .pvsh-text h6 {
        font-size: 1.3em;
    }
/**QUESTION SECTION**/
    .dropdown-heading {
        width: 300px;
    }
    .question-text h6 {
        font-size: 1.3em;
    }
    .tab{
        width: 300px;
    }

/**FOOTER SECTION**/
    .pvsh-social{
        padding: 2vh 2vw;
    }
    .social-icon{
        width: 1em;
        height: 1em;
    }
    .pvsh-social i{
        font-size: 0.5em;
    }
    
}

@media (max-width: 330px){
    .droping-pill {
        left: -110px;
    }
}
@media (max-width: 570px){
    /**FOOTER SECTION**/
    .pvsh-social{
        padding: 2vh 2vw;
    }
    .social-icon{
        width: 1em;
        height: 1em;
    }
    .pvsh-social{
        font-size: 0.5em;
    }
}